@import "../base/custom";
// css here

a.nostyle:link, a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}


#carouselExampleIndicators {
    box-shadow: -6px 0 white, 6px 0 white, 0 7px 5px -2px rgb(58, 58, 58);
}

body, html {
    background-image:    url('https://balkanultra.fra1.digitaloceanspaces.com/media/cabayoblanco.png');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: bottom bottom;  
}