@import "../base/custom";
// css here

a.nostyle:link, a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}

.ultra {
    background-image: url('./ultra.jpg');
    height: 250px;
}

.sky {
    background-image: url('./sky.jpg');
    height: 250px;
}