<div class="modal fade" id="hiringModal" tabindex="-1" aria-labelledby="hiringModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="hiringModalLabel">Търсим хора!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container mt-5">
                <div class="text-center">
                    <img src="https://balkanultra.s3.eu-central-1.amazonaws.com/images/home/lfpeople.jpg" alt="Profile Picture" class="img-fluid rounded profile-image">
                    <h3 class="mt-4">Набираме доброволци!</h3>
                    <p>
                        Постоянно имаме нужда от хора, които да ни помагат. В дните на състезанието имаме нужда от помощ. Ще сме изключително благодарни
                        на всеки, който ни помогне по някакъв начин. Имаме нужда от хора, които да засичат времената на състезателите, които преминават през
                        контролните точки. Имаме нужда и от хора, които да ни помагат на старт-финалната зона (хижа Плевен). По обичай осигуряваме сладка диня
                        за финиширалите участници и изпитваме трудност да смогнем с рязането на динята. Ако искате да ударите едно рамо ще се радваме да се свържете
                        с нас!
                    </p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
