<div class="modal fade modal-lg" id="recordModal" tabindex="-1" aria-labelledby="recordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="recordModalLabel">Рекорд на трасето</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container mt-5">
                <div class="text-center">
                    <img src="https://balkanultra.s3.eu-central-1.amazonaws.com/images/home/record-zdravko.jpg" alt="Profile Picture" class="img-fluid rounded profile-image">
                    <h3 class="mt-4">Даваме кешовица</h3>
                    <p>
                        Два чифта маратонки, 50 големи дюнера или 33 литра евтина купешка ракия, това може да си купите с паричната
                        награда от 500 лв., която ще получи участникът, успял да постави нов Балкански рекорд. 
                        В момента рекордът се държи от Здравко Кръстев, който през 2022 г. премина трасето за 12ч 58 мин. и 50 сек, ставайки първият участник успял да слезе под 13 часа.<br>
                        Ако никой не успее да подобри рекорда, паричната награда ще бъде добавена за следващото издание.
                    </p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
