<div class="modal fade" id="whoAreWeModal" tabindex="-1" aria-labelledby="whoAreWeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="whoAreWeModalLabel">Кои сме ние?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-6 col-md-12 text-center">
                        <img src="https://balkanultra.s3.eu-central-1.amazonaws.com/images/home/rosenprofile.jpg" alt="Profile Picture 1" class="rounded profile-image">
                        <h3 class="mt-4">Росен Русев</h3>
                        <p>
                            Росен е практикуващ лекар, доктор по ендокринология. Победител в повечето планински ултрамаратони в последните 5 години.
                            Основоположник на спортния термин "rossening". Познат в бегаческите среди като доктор Русев, а в медицинските като
                            Росен Ултрамаратонеца. Баща на две деца (засега), родом от гр. Казанлък, притежава завидни физически качества, като
                            например да изпие литър и половина вино от чичо си и на сутринта да поведе група от младежи на 5-часово леко бягане
                            до връх Голям Кадемлия.
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-12 text-center">
                        <img src="https://balkanultra.s3.eu-central-1.amazonaws.com/images/home/ivanprofile.jpg" alt="Profile Picture 2" class="rounded profile-image">
                        <h3 class="mt-4">Иван Гочев</h3>
                        <p>
                            Иван е състезател по планинско бягане от 2017 г., родом от гр. Сливен. Участвал в повечето големи български ултрамаратони. Три неуспешни опита за
                            скоростно преминаване на Ком Емине. Загубен бас за спечелване на Трявна Ултра 140 км. през далечната 2018 година, когато след
                            18 часово преследване става втори след Росен Русев и се задължава да купи каса бира на Александър Спасов и буркан със
                            студено пресовано орехово масло на Росен. Изплатил своите дългове. През свободното си време Иван работи като
                            софтуерен инжинер. Ако нещо по този сайт не бачка като хората - той е виновен.
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
