
<div class="row">
    <div class="col col2022">
      <img src="https://balkanultra.fra1.digitaloceanspaces.com/media/cropped-logo-e1646652826972.png" class="img2022" alt="...">
    </div>
      <div class="col col2022">
      <img src="https://balkanultra.fra1.digitaloceanspaces.com/media/croppedStenata.png" class="img2022" alt="...">
    </div>
      <div class="col col2022">
      <img src="https://balkanultra.fra1.digitaloceanspaces.com/media/calicropped.png" class="img2022" alt="...">
    </div>
      <div class="col col2022">
      <img src="https://balkanultra.fra1.digitaloceanspaces.com/media/trimaidvamacropped.png" class="img2022" alt="...">
    </div>
      <div class="col col2022">
      <img src="https://balkanultra.fra1.cdn.digitaloceanspaces.com/media/gncropped.png" class="img2022" alt="...">
    </div> 
      <div class="col col2022">
      <img src="https://balkanultra.fra1.digitaloceanspaces.com/media/iruncropped.png" class="img2022" alt="...">
    </div>

</div>
