{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
    <a  class='d-none d-lg-block' href="{% url 'home'%}">
      <div style="
      background: url('{% static  'sitelogo.png' %}');
      height: 50px;
      width: 50px;
      background-repeat: no-repeat;
      background-size: 50px 50px;
      " id='site-logo'></div>
    </a>
    <ul class="navbar-nav mx-3">
      <!-- Начало -->
      <li class="nav-item active d-lg-none">
        <a class="nav-link" href="{% url 'home'%}">Начало</a>
      </li>

      <!-- Информация -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'about' %}">Информация</a>
      </li>

      <!-- Регистрация -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Регистрация</a>
        <div class="dropdown-menu" aria-labelledby="dropdown08">
          <a class="dropdown-item" href="{% url 'register' 'Sky'%}">Sky</a>
          <a class="dropdown-item" href="{% url 'register' 'Ultra'%}">Ultra</a>
        </div>
      </li>

      <!-- Резултати -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'results' 'all'%}">Резултати</a>
      </li>

      <!-- Участници -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'athletes'%}">Участници</a>
      </li>
    </ul>
  </div>
</nav>