#info-banner-ultra {
    width: 100%;
    height: 50px;
    background-color: brown;
}

#info-banner-sky {
    width: 100%;
    height: 50px;
    background-color: rgb(15, 108, 161);
}

#info-text {
    color: white;
}