<div class=''>
    <p class=''><strong>78 Ултра:</strong><p>
    <ul>
        <li><p><strong>Водонепромокаемо яке.</strong> Силно препоръчително е да не пропуска. Износена мембрана с 20к воден стълб, която пуска вода на петата минута няма да ви свърши работа, ако завали стабилно.</p></li>
        <li><p><strong>Блуза/термо бельо с дълъг ръкав.</strong> Ако е от вълна, то ще ви пази топли дори и да се намокри.</p></li>
        <li><p><strong>Чифт ръкавици.</strong></p></li>
        <li><p><strong>Телефон със заредена батерия.</strong></p></li>
        <li><p><strong>Челник</strong></p></li>
        <li><p><strong>GPS навигационно устройство</strong> със зареден трак на трасето.</p></li>
        <li><p>В зависимост от метеорологичната прогноза може да променим задължителната екипировка.</p></li>
    </ul>
    <p class=''><strong>13 Скай:</strong><p>
        <ul>
            <li><p><strong>Ветровка.</strong> При възможност за валежи силно препоръчваме непромокаемо яке.</p></li>
            <li><p><strong>Телефон със заредена батерия.</strong></p></li>
        </ul>
</div>