<h4>Петък, 26 юли</h4>
<p><strong>15:00 - 23:00 ч.</strong> Получаване на стартови номера в столовата на х. Плевен</p>
<p><strong>21:00 ч.</strong>Техническа конференция за двете дистанции в приземния етаж (залата с пианото).</p>
<br></br>
<h4>Събота, 27 юли</h4>
<p><strong>05:20 ч.</strong> Проверка на задължителна екипировка за ултра дистанцията в столовата на хижата </p>
<p><strong>05:40 ч.</strong> Старт на Балкан Ултра 78</p>
<p><strong>7:00 - 08:30 ч.</strong> Получаване на стартови номера за Балкан Скай 13 в столовата на х. Плевен</p>
<p><strong>08:30 ч.</strong> Проверка на задължителна екипировка за скай дистанцията в столовата на хижата </p>
<p><strong>9:00 ч.</strong> Старт на Балкан Скай 13</p>
<p><strong>14:00 ч.</strong> Край на контролното време за Балкан Скай 13</p>
<p>Голямо динено парти за всички финиширали</p>
<br></br>
<h4>Неделя, 28 юли</h4>
<p><strong>01:40 ч.</strong> Край на контролното време за Балкан Ултра 78></p>
<p><strong>09:00 ч. </strong>Награждаване на призьорите от двете дистанции</p>
