<h4>Ultra:</h4>
<h6><strong>1.</strong> Всеки от участниците трябва да има предоставена валидна планинска застраховка преди старта на състезанието.<br>
    <strong>2.</strong> Завършени две състезания с минимум 4000 метра D+ всяко за последните 3 години /период 2019 - 2022 г./. Дължината на състезанията е без значение. Завършен Adventure Skyrun в периода 2018 - 2020 г. плюс едно състезание с над 4000 метра D+ също носи право за участие.<br>
    <strong>2.1.</strong> Завършен Балкан Ултра също носи право за участие.<br>            
    <strong>3.</strong> Разполагате със собствено GPS устройство /часовник, pъчен GPS, мобилен телефон с планинарска карта/ и може да се ориентирате по предоставена GPS следа.<br>
</h6>
<h4>Sky:</h4>
<h6>
    <p>Участието в тази дистанция е свободно. Трасето е изпълнено с множество технични участъци
        и изисква добра физическа подготовка и планинарска култура.
    </p>
</h6>
