<h4>Ултра:</h4>
<p>Ултра дистанцията от 78 км преминава през много опасни и технични участъци.
    В по-голямата си част трасето е на открито и на висока надморска височина.
    В комбинация с лоши метеорологични условия и липса на подкрепителни пунктове
    това може да доведе до затруднено предвижване на състезателите.
    За това сме предивидили критерии, които всеки състезател е нужно да покрие преди
    да участва на тази дистанция.
</p>
<h4>Скай:</h4>
<p>Участието в тази дистанция е свободно. Но препоръчваме предварително да се запознаете
    с характеристиките на трасето.
</p>