<div class='border-bottom my-2'>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">СВАЛИ GPX SKY</button>
    </div>
    <img src="https://balkanultra.s3.eu-central-1.amazonaws.com/profile13.jpg" class="img-fluid" alt="...">
    <div class='row'>
        <p class='col'><strong>Описание</strong><p>
        <p class='col'>Трасето стартира от хижа Плевен, изкачва се до Млечния чал после дирекшън към вр. Ботев
            от там се слиза посока лятната за хижа Плевен но на кабела се тръгва надолу и покрай вр. Купата
            технично спускане, много трябва да се внимава. Слиза се почти до паркинга и по лятната пътека
            нагоре към хижата. 
        </p>
    </div>
</div>

<div class=''>
    <div class="d-grid gap-2">
        <button class="btn btn-dark" type="button">СВАЛИ GPX ULTRA</button>
    </div>
    <img src="https://balkanultra.s3.eu-central-1.amazonaws.com/profile80.jpg" class="img-fluid" alt="...">
    <div class='row'>
        <div class='col'>
            <p class=''><strong>Описание</strong><p>
            <p class=''> Трасето стартира от хижа Плевен, изкачва се до Млечния Чал от там се минава по билото до
                вр. Амбарица, следва кратко спускане до х. Добрила. От там по рида Сакарица до гр. Карлово, тука вече 
                трябва да почне да ви удря жегата. Напълнете добре вода до хижа Равнец там пак заредете защото до хижа Левски
                няма никакви чешми или рекички. Като стигнете хижа Левски се отправяте към петолъчката от там по лятната пътека
                до хижа Рай и на х. Рай може да хапнете щото после ви чака голямо качване до вр. Ботев. От вр. Ботев слизате на Тъжа
                от там Марагидик и спускане до паметника на Цанко Дюстабанов. Като стигнете паметника, свивате на ляво и през
                копривите следвате лентичките да не изгубите пътеката до ВЕЦ Видима. Като стигнете веца вече остава само да се
                качите обратно на хижата. И тва е. 
            </p>
        </div>
        <div class=''>
            <p class=''><strong>Времезасичане</strong><p>
            <ul>
                <li>Млечен Чал</li>
                <li>х. Добрила</li>
                <li>гр. Карлово</li>
                <li>х. Равнец</li>
                <li>х. Левски</li>
                <li>Петолъчката</li>
                <li>х. Рай</li>
                <li>вр. Ботев</li>
                <li>вр. Марагидик</li>
                <li>ВЕЦ Видима</li>
    
            </ul>
        </div>
    </div>
</div>
