// Your variable overrides
// $body-bg: $gray-100;


$dark: #811805;
$navbar-dark-color:  #f5edde;
$navbar-dark-hover-color: #c98c0a;

$primary: #c98c0a;


// header.html
#site-logo {
    background: url('../base/sitelogo.png');
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

#content-container {

}

#body-container {
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

#footer-container {
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
}




// Bootstrap and its default variables

// Optional
@import "~bootstrap/scss/bootstrap";
// @import "material-icons";

// etc