@import "custom";


html,body{
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 242, 232);
    display:flex;
    flex-direction:column; 
    justify-content:space-between;

}
