{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <link rel='stylesheet' href="{% static 'base.css' %}">
    <title>{% block title %}Balkan Ultra{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id='body-container'>
        <div id='header-container' >
            {% include 'snippets/header.html' %}
        </div>
        
        <div id='content-container'>
          {% block content %}
          {% endblock %}
        </div>
    </div>


  <div id="newfooter">
    <div id="copyrights">
      © 2023 Rosen & Ivan. All Rights Reserved.
    </div>
  </div>

    <script src="{% static 'base.bundle.js' %}"></script>
    {% block js %}
    {% endblock %}
  </body>
  
</html>