{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel='stylesheet' href="{% static 'register.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script type="text/javascript">
        var race = "{{ race }}"
        var host = "{{ host }}"
        var scheme = "{{ scheme }}"
    </script>
{% endblock %}

{% block content %}

<!-- Success pop up Modal -->
{% include 'snippets/reg-success.html' %}
{% include 'snippets/reg-error.html' %}

<!-- Info color banner -->
<div>
    <div class="d-flex justify-content-center" id='info-banner-ultra'>
        <h3 id='info-text' class='my-2'>
            Регистрацията е затворена!
        </h3>
    </div>
</div>


{% endblock %}
{% block js %}
<script src="{% static 'register.bundle.js' %}"></script>
{% endblock %}