{% extends "base.html" %}
{% load static %}
{% block head %}
 <link rel='stylesheet' href="{% static 'home.css' %}">
{% endblock %}
{% block content %}
<div class="row align-items-md-stretch mt-3">
    <div class="col-md-6">
        <a class='nostyle' href="">
            <div class=" p-5 text-white ultra rounded-3">
                <h1>УЛТРА </h1>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a class='nostyle' href="">
            <div class=" p-5 sky border rounded-3">
                <h1>СКАЙРЪН</h1>

            </div>
        </a>
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}