{% extends "base.html" %}
{% load static %}
{% block head %}
 <link rel='stylesheet' href="{% static 'home.css' %}">
{% endblock %}
{% block content %}
<div id='home-bg'>
  <!-- carousel -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img id='velin' src="https://balkanultra.s3.eu-central-1.amazonaws.com/ultrabanner.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://balkanultra.s3.eu-central-1.amazonaws.com/skybanner.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

    <!-- small desc -->
  <div id="blanco-container">
    <img src='https://balkanultra.fra1.digitaloceanspaces.com/media/cabayoblanco.png' class='img-fluid'>
    <h4 class=" display-6 text-primary blancosize" id="blanco-text-one">Стани част от Балкан Ултра, един от най-трудните за завършване ултра маратони в България. В сърцето на Централен Балкан!</h4>
    <h4 class=" display-6 text-info blancosize" id="blanco-text-two">Запазваме своята традиция и тази година участието на Balkan Ultra ще бъде без стартова такса!</h4>
  </div>


  

</div>
<script src="{% static 'home.bundle.js' %}"></script>
{% endblock %}
{% block js %}

{% endblock %}