{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel='stylesheet' href="{% static 'register.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        var race = "{{ race }}"
        var publicKey = "{{ public_key }}"
    </script>
{% endblock %}

{% block content %}

<!-- Success pop up Modal -->
{% include 'snippets/reg-success.html' %}

<!-- Info color banner -->
<div>
    {% if race == 'Ultra' %}
    <div class="d-flex justify-content-center" id='info-banner-ultra'>
        <h3 id='info-text' class='my-2'>
            УЛТРА
        </h3>
    </div>
    {% else %}
    <div class="d-flex justify-content-center" id='info-banner-sky'>
        <h3 id='info-text' class='my-2'>
            СКАЙ
        </h3>
    </div>
    {% endif %}
</div>

<!-- Card with info about registration -->
{% include 'cards/register-ultra.html' %}

<!-- Register form -->
<div class='container'>
    <form id='post-form' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div id='spinner' class="spinner-border text-dark d-none" role="status">
            <span class="sr-only"></span>
        </div>
        <button id='submitBtn'class="btn btn-light" type='submit'>Sign in</button>
    </form>
</div>

{% endblock %}
{% block js %}
<script src="{% static 'register.bundle.js' %}"></script>
{% endblock %}