{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel='stylesheet' href="{% static 'register.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        var race = "{{ race }}"
        var publicKey = "{{ public_key }}"
    </script>
{% endblock %}
{% block content %}
<div class='container'><h1> Register for </h1></div>

<form id='post-form' method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-light" type='submit'>Sign in</button>
</form>

{% endblock %}
{% block js %}
<script src="{% static 'register.bundle.js' %}"></script>
{% endblock %}