{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel='stylesheet' href="{% static 'register.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script type="text/javascript">
        var race = "{{ race }}"
        var host = "{{ host }}"
        var scheme = "{{ scheme }}"
    </script>
{% endblock %}

{% block content %}

<!-- Success pop up Modal -->
{% include 'snippets/reg-success.html' %}
{% include 'snippets/reg-error.html' %}

<!-- Info color banner -->
<div>
    {% if race == 'Ultra' %}
    <div class="d-flex justify-content-center" id='info-banner-ultra'>
        <h3 id='info-text' class='my-2'>
            ULTRA
        </h3>
    </div>
    {% else %}
    <div class="d-flex justify-content-center" id='info-banner-sky'>
        <h3 id='info-text' class='my-2'>
            SKY
        </h3>
    </div>
    {% endif %}
</div>

<!-- Card with info about registration -->
<div class='mt-2'>
{% if race == 'Ultra' %}
    {% include 'cards/register-ultra.html' %}
{% else %}
    {% include 'cards/register-sky.html' %}
{% endif %}
</div>

<!-- Register form -->
<div class='container mt-2'>
    <div class='reg-form'>
        <form id='post-form' method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div id='spinner' class="spinner-border text-dark d-none" role="status">
                <span class="sr-only"></span>
            </div>
            <button id='submitBtn'class="btn btn-light" type='submit'>Sign in</button>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'register.bundle.js' %}"></script>
{% endblock %}